<%- include("header")  -%> 
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque optio consequatur aliquid eaque quo perferendis aut voluptas veritatis modi ducimus rem reprehenderit nobis saepe iusto dolorum, assumenda recusandae eum fuga.</p>
<%- include("footer") -%> 